:root {
    --boxColor: #0ff7;
}

/* reset */
*, *:before, *:after {
    box-sizing: border-box;
}


/* delete later */
h1 {
    text-align: center;
    color: palevioletred;
}


.navbar {
    background: black;
    padding: 1rem 2rem;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    
    &:hover {
        color: maroon;
        opacity: 0.7;
        background-color: #ffd9d9;
    }

    &:visited {
        color: grey;
    }
    &:link {
        color: maroon;
    }
    &:focus {
        color: maroon;
        background-color: #ffd9d9;
    }
    &:active {
        color: red;
        background-color: #ffd9d9;
    }
}






/*SCENE*/


body {
    background-color: #000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}


.scene {
    position: relative;
}

.ball {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: lightblue;
}

.cube {
    width: 3em;
    height: 3em;
    background: var(--boxColor);
}

.floor {
    width: 5em;
    height: 5em;
    background: repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);
}